{{ if ne .Site.Params.disqusShortname ""}}

<div class="disqus"></div>
{{ if (eq (printf "%v" $.Site.BaseURL) "//localhost:1313/")}}<script src="/js/disqusLoader.js"></script>
{{else}}<script src="{{ .Site.Params.dns }}/js/disqusLoaderUglyfied.js"></script>
{{end}}

<script>
    disqusLoader( '.disqus',
        {
            scriptUrl: '//{{ .Site.Params.disqusShortname }}.disqus.com/embed.js',
            disqusConfig: function () {
                this.page.url = "{{ .Site.Params.domain }}{{ .RelPermalink }}";
                this.page.identifier = "{{ .Site.Params.domain }}{{ .RelPermalink }}";
            }
        });
</script>
{{ end }}
