{{ if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "")}}
<div id="disqus_thread"></div>
<script>

   var disqus_config = function () {
   this.page.url = "{{ .Site.Params.domain }}{{ .RelPermalink }}";
   this.page.identifier = "{{ .Site.Params.domain }}{{ .RelPermalink }}";
   };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{ end }}
