<!doctype html>
<html class="no-js" lang="en">
{{ partial "header" . }}
<body>
{{ partial "body-header" . }}
<div class="main-container">
    <header>
        {{ partial "block/content/h1-title" . }}
    </header>
    <ul class="container content">
        {{ $baseurl := .Site.BaseURL }}
        {{ $data := .Data }}
        {{ range $key,$value := .Data.Terms.ByCount }}
        <li>
            <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                {{ $value.Name }}
            </a>
            <strong>
                {{ $value.Count }}
            </strong>
        </li>
        {{ end }}
    </ul>
</div>
{{ partial "body-footer" . }}
</body>
</html>
